annotated-types
boto3
botocore
certifi
charset-normalizer
click
fire
gitdb
GitPython
idna
jmespath
joblib
numpy
packaging
pandas
pathlib
pillow
platformdirs
protobuf
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
requests
s3transfer
scikit-learn
scipy
sentry-sdk
six
smmap
svgwrite
termcolor
threadpoolctl
Tree
typing-inspection
typing_extensions
tzdata
urllib3
wandb